<div class="splash-cont">
  <h1>Budget app</h1>
  <div class="devise-btns">
    <%= link_to 'Log in', new_user_session_path, class: "login-btn" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "sign-up-btn" %>
  </div>
</div>